* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    position: relative;
    
    min-height: 100vh;
    
}


.imgCarrousel{
    width: 100%;
    height: 47vw;
}

.secciones{
    width: 100%;
    text-align: center;
}

.slide {
    margin-top: 10px;
}

.slide img {
    height: 65vh;
}

.col-3 text-reset text-uppercase d-flex align-items-center{
    background-color: blue;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.footer {
    
    position:absolute;
    background-color: #24262b;
    padding: 80px 0;
    width: 100%;
}

.footer-row {
    display: flex;
    flex-wrap:wrap;
    text-align:center;
    
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display:inline-block;
    text-align: end;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color: #FFFFFF;
    padding-left: 6px;
    
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.social-link a:hover {
    background-color: #00c3ff;
}


@media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }

}
